@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #414141;
  --muted: #f5f5f5;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}

/* フォントをすべての要素に適用 */
* {
  font-family: var(--font-mono);
}

code,
pre,
kbd {
  font-family: var(--font-mono);
}
